p, 
li{
    color: #F92C85;
    background: rgba(0,0,0,0);
}


ul, ol{
    background: rgba(0,0,0,0);
}
* {
    background-image: url(background.png);
}

h1{
    
    color: #5EBEC4;
    background: rgba(0,0,0,0);
}

img {
display: block;
margin-left: auto;
margin-right: auto;
}